#cookiebar {
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	background-color: #eeeeee;

	.notification-inner {
		padding-left: 100px;

		img {
      position: absolute;
			margin-left: -100px;
			max-width: 80px;
			height: auto;
		}
		.notification-title {
      font-weight: bold;
    }
	}

  .cookiebar-links {
    text-align: center;

    a.infolink {
      text-decoration: none;
    }
  }
}
